.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
ArvoreBinaria/arvore_binaria_antigo.c
.vscode/tasks.json
ArvoreBinaria/main
recursividade/main
avl/main
binaria/main
rubroNegra/main
src/avl/main
src/binaria/main
src/recursividade/main
src/rubroNegra/main
output/
src/pilha/main
